{% extends "student_base.html" %}

{% block title %}Дневник{% endblock %}

{% block content %}
</br></br></br>
<h1 align="center">Дневник</h1>
{% for day in days.keys() %}
<table align="center">
    <tr> <td></td><td align="center"> <h5>{{day}}</h5> </td></tr>
    <tr>
        <td bgcolor="#d7d7d7">08:30</td>
        <td align="center" width="150">{{ days[day][0][0] }}</td>
        <td align="center" width="250">{{ days[day][0][1] }}</td>
    </tr>
    <tr>
        <td bgcolor="#d7d7d7">09:25</td>
        <td align="center" width="150">{{ days[day][1][0] }}</td>
        <td align="center" width="250">{{ days[day][1][1] }}</td>
    </tr>
    <tr>
        <td bgcolor="#d7d7d7">10:30</td>
        <td align="center" width="150">{{ days[day][2][0] }}</td>
        <td align="center" width="250">{{ days[day][2][1] }}</td>
    </tr>
    <tr>
        <td bgcolor="#d7d7d7">11:25</td>
        <td align="center" width="150">{{ days[day][3][0] }}</td>
        <td align="center" width="250">{{ days[day][3][1] }}</td>
    </tr>
    <tr>
        <td bgcolor="#d7d7d7">12:30</td>
        <td align="center" width="150">{{ days[day][4][0] }}</td>
        <td align="center" width="250" >{{ days[day][4][1] }}</td>
    </tr>
    </br>
</table>
{% endfor %}
</br>
{% endblock %}