{% extends "student_base.html" %}

{% block title %}Оценки{% endblock %}

{% block content %}
<br><br><br>
<div class="main">
    <div class="container">
        <h1 align="center">Оценки</h1>
        <div class="accordion" id="accordionExample">
            {% for obj in grades.keys() %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne-{{obj}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne-{{obj}}" aria-expanded="true" aria-controls="collapseOne-{{obj}}">
                        {{obj}}
                    </button>
                </h2>
                <div id="collapseOne-{{obj}}" class="accordion-collapse collapse show" aria-labelledby="headingOne-{{obj}}"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for grade in grades[obj] %}
                        <button type="button" class="btn btn-outline-success" disabled>{{grade}}</button>
                        {% endfor %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            Средний балл:
                            <button type="button" class="btn btn-outline-primary me-md-2" disabled>{{grd_sum[obj]}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}