{% extends "registration_base.html" %}

{% block content %}
<body>
<h1 align="center">Вход в систему</h1>
<div>
    <form class="login_form" method="post">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
               placeholder="Введите адрес почты" name="email">
        <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
        <button type="submit" class="btn btn-primary">Записаться</button>
    </form>
</div>
</body>
{% endblock %}
