{% extends "registration_base.html" %}

{% block content %}
<body>
<h1 align="center">Вход в систему</h1>
<div>
    <form class="login_form" method="post">
        <input type="login" class="form-control" id="login" aria-describedby="loginHelp"
               placeholder="Введите логин" name="login">
        <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>
</body>
{% endblock %}
